EMAIL="your-email@your-domain.com"
DATE=$(date +'%Y%m%d')
LOG_PATH="/var/log/letsencrypt/"
LOG_FILE="$LOG_PATH""${DATE}.log"
LOG_RETENTION_DAYS=10
PF_CONF="/etc/pf.conf"
PF_CONF_TEMP="/etc/pf.conf.temp"
WEBROOT_PATH="/var/www/letsencrypt"
OS=$(uname -s)
NGINX_ENABLED="/etc/nginx/sites-enabled"
CERTBOT="/usr/local/bin/certbot"
